{extend name="view/base" /}

{block name="head"}
<style type="text/css">
    th, td {
        text-align: center !important;
    }
</style>
{/block}
{block name="main"}

<h1 class="bd-title" id="content">修改数据表</h1>
<hr>

<div id="table_index">
    <form action="" id="table_form" class="row" onsubmit="table.save_table(event)">
        <div class="form-group col-6">
            <label>分组</label>
            <select class="form-control" name="group_id" v-model="tableForm.group_id" required disabled>
                <option v-for="list in group" :value="list.id">{{list.name}}</option>
            </select>
        </div>
        <div class="form-group col-6">
            <label>模块（数据库）</label>
            <select class="form-control" name="model_id" v-model="tableForm.model_id" required disabled>
                <option v-for="list in model" :value="list.id">{{list.model_name}} （zb_{{list.db_name}}）</option>
            </select>
        </div>
        <div class="form-group col-6">
            <label>数据库引擎</label>
            <select class="form-control" name="engine" v-model="tableForm.engine" required disabled>
                <option v-for="list in engine" :value="list.name">{{list.name}}</option>
            </select>
        </div>
        <div class="form-group col-6">
            <label>负责人</label>
            <select class="form-control" name="person_id" v-model="tableForm.person_id" required disabled>
                <option v-for="list in person" :value="list.id">{{list.name}}</option>
            </select>
        </div>
        <div class="form-group col-6">
            <label>标题</label>
            <input type="text" class="form-control" name="table_title" v-model="tableForm.table_title" placeholder="标题" required disabled>
        </div>
        <div class="form-group col-6">
            <label>数据表名称</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">tp_</div>
                </div>
                <input type="text" class="form-control" name="table_name" v-model="tableForm.table_name" placeholder="数据表名称" required disabled>
            </div>
        </div>
        <button type="submit" id="table_form_submit" style="display: none"></button>
    </form>


    <!-- 字段列表 -->
    <div class="row">
        <div class="col-12 mt-3">
            <table class="table table-bordered" id="group_table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">备注</th>
                    <th scope="col">字段</th>
                    <th scope="col">类型</th>
                    <th scope="col">允许空</th>
                    <th scope="col">默认值</th>
                    <th scope="col">枚举注释</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(data,index) in fieldForm.field">
                    <td>{{data.comment}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.type}}({{data.length}})</td>
                    <td>{{data.not_null=='0'?'允许空':'不为空'}}</td>
                    <td>{{data.default==="AUTO_INCREMENT"?'自增长':data.default}}</td>
                    <td>
                        <select v-if="data.enum.length !==0 " class="form-control form-control-sm" name="type">
                            <option v-for="li in data.enum" :value="li.key">{{li.key}} - {{li.name}}</option>
                        </select>
                        <span v-if="data.enum.length === 0">—</span>
                    </td>
                    <td>
                        <span v-if="index === 0">主键</span>
                        <a v-if="index !== 0" :href="'javascript:table.del_field('+data.id+')'">删除</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                        <!-- 添加字段 按钮 -->
                        <button type="button" class="btn btn-light form-control" data-toggle="modal" data-target="#field">+</button>
                        <!-- 添加字段 弹出框 -->
                        <div class="modal fade" id="field" tabindex="-1" role="dialog" aria-labelledby="groupLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                        <div class="modal-header bg-db text-light">
                                            <h5 class="modal-title" id="groupLabel">添加字段</h5>
                                            <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body text-left">
                                            <form action="" id="addField" onsubmit="table.add_field(event)">
                                                <div class="form-group">
                                                    <label>备注</label>
                                                    <input type="text" class="form-control" name="comment" placeholder="备注" autocomplete="off" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>字段名</label>
                                                    <input type="text" class="form-control" name="name" placeholder="字段名" autocomplete="off" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>类型</label>
                                                    <select class="form-control" v-model="fieldForm.type" name="type" required>
                                                        <option v-for="list in type" :value="list.name">{{list.name}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group" v-if="fieldForm.type == 'Int'| fieldForm.type == 'VarChar'| fieldForm.type == 'TinyInt'">
                                                    <label>长度</label>
                                                    <input v-for="list in type" v-if="list.name==fieldForm.type" type="text" class="form-control" name="length" placeholder="长度" :value="list.length" autocomplete="off" required>
                                                </div>
                                                <div class="form-group" v-if="fieldForm.type == 'Enum'">
                                                    <label>值</label>
                                                    <input v-for="list in type" v-if="list.name==fieldForm.type" type="text" class="form-control" name="length" placeholder="枚举，用（,）隔开" oninput="table.set_enum()" id="enum" autocomplete="off" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>允许空</label>
                                                    <div class="form-row">
                                                        <div class="col-2">
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" name="not_null" value="0" id="not_null_true" required>
                                                                <label class="custom-control-label" for="not_null_true">允许</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-3">
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" class="custom-control-input" name="not_null" value="1" id="not_null_false" required checked>
                                                                <label class="custom-control-label" for="not_null_false">不允许</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group" v-if="fieldForm.type !== 'Text'">
                                                    <label>默认值</label>
                                                    <div class="custom-control custom-checkbox mb-3" v-if="fieldForm.type == 'Int'">
                                                        <input type="checkbox" class="custom-control-input" name="default" value="AUTO_INCREMENT" id="auto_increment" onclick="table.default_hidden()">
                                                        <label class="custom-control-label" for="auto_increment">自增长</label>
                                                    </div>
                                                    <input v-for="list in type" type="text" class="form-control" v-if="default_show && fieldForm.type !== 'Enum' && list.name==fieldForm.type" :value="list.default" name="default" placeholder="默认值" autocomplete="off">

                                                    <select v-if="fieldForm.type === 'Enum'" class="form-control" name="default" required>
                                                        <option v-for="list in enum_data" :value="list.name">{{list.name}}</option>
                                                    </select>
                                                </div>
                                                <button id="add_field_submit_btn" type="submit" style="display: none;"></button>
                                            </form>
                                            <div class="mb-3">
                                                <label>枚举备注</label>
                                                <!-- 添加枚举 表单 -->
                                                <form class="form-inline" id="alter_enum" onsubmit="table.alter_enum_add(event)">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="enum_key" placeholder="Key" required autocomplete="off">
                                                        <input type="text" class="form-control ml-2" name="enum_name" placeholder="Name" required autocomplete="off">
                                                    </div>
                                                    <button type="submit" class="btn btn-primary ml-2">添加</button>
                                                </form>
                                            </div>
                                            <table class="table table-bordered">
                                                <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">key</th>
                                                    <th scope="col">value</th>
                                                    <th scope="col">操作</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(li,index) in temp_enum_form">
                                                    <td>{{li.key}}</td>
                                                    <td>{{li.name}}</td>
                                                    <td><a :href="'javascript:table.alter_enum_del('+index+')'">删除</a></td>
                                                </tr>
                                                <tr v-if="temp_enum_form.length === 0">
                                                    <td colspan="3">无枚举数据</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                            <button type="submit" class="btn btn-db" onclick="table.add_field_submit()">添加</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a href="{:url('/generate')}" class="btn btn-primary">返回首页</a>
        </div>
    </div>
</div>


{/block}
{block name="footer"}
<script type="text/javascript">
    //数据库表
    const table = new Vue({
        el: '#table_index',
        data: {
            table_id:0,
            tableForm:[],
            fieldForm:{
                type:'VarChar',
                field:[]
            },
            alter_edit_field:{
                enum:[]
            },
            temp_enum_form:[],
            btn: {
                btn_save:true,
            },
            submit_type: undefined,
            enum_modal_id:undefined,
            default_show:true,
            enum_data:[],
            group: [],
            table: [],
            model: [],
            person: [],
            engine: [{'name':'InnoDB'},{'name':'MyISAM'}],
            type: [
                {'name':'VarChar','length':'255','default':''},
                {'name':'Int','length':'11','default':'0'},
                {'name':'TinyInt','length':'3','default':'0'},
                {'name':'Enum','length':'','default':''},
                {'name':'Text','length':'','default':''},
                {'name':'Date','length':'','default':'0000-00-00'}
            ],
            character_set: [
                {
                    'name':'utf8',
                    'children': ['utf8_general_ci','utf8_unicode_ci']
                },{
                    'name':'gbk',
                    'children': ['gbk_bin','gbk_chinese_ci']
                }
            ]
        },
        created() {
            this.get_list();
        },
        methods: {
            get_list() {
                const that = this;
                if(window.sessionStorage.getItem("table_edit_id") === null){
                    window.location.href="{:url('/generate')}";
                }
                that.table_id = window.sessionStorage.getItem("table_edit_id");

                that.get_table_info();
                that.get_field_list();

                $.ajax({
                    url:"{:url('/generate/Api/get_model_list')}",
                    type:"GET",
                    async:true,
                    success:function (res) {
                        if (res.status){
                            that.model = res.data;
                        }else{
                            that.model = [];
                        }
                    },
                });
                $.ajax({
                    url:"{:url('/generate/Api/get_group_list')}",
                    type:"GET",
                    async:true,
                    success:function (res) {
                        if (res.status){
                            that.group = res.data;
                        }else{
                            that.group = [];
                        }
                    },
                });
                $.ajax({
                    url:"{:url('/generate/Api/get_person_list')}",
                    type:"GET",
                    async:true,
                    success:function (res) {
                        if (res.status){
                            that.person = res.data;
                        }else{
                            that.person = [];
                        }
                    },
                });

                $.ajax({
                    url:"{:url('/generate/Api/get_table_list')}",
                    type:"GET",
                    async:true,
                    success:function (res) {
                        if (res.status){
                            that.table = res.data;
                        }else{
                            that.table = [];
                        }
                    },
                });
            },
            get_table_info(){
                const that = this;
                $.ajax({
                    url:"{:url('/generate/Api/get_table_info')}",
                    type:"POST",
                    data:{
                        id:that.table_id
                    },
                    async:true,
                    success:function (res) {
                        if (res.status){
                            that.tableForm = res.data;
                        }else{
                            that.tableForm = [];
                        }
                    },
                });
            },
            get_field_list(){
                const that = this;
                $.ajax({
                    url:"{:url('/generate/Api/get_field_list')}",
                    type:"POST",
                    data:{
                        id:that.table_id
                    },
                    async:true,
                    success:function (res) {
                        if (res.status){
                            that.fieldForm.field = res.data;
                        }else{
                            that.fieldForm.field = [];
                        }
                    },
                });
            },
            del_field(id){
                if (confirm("是否要删除这个字段？")){
                    const that = this;
                    $.ajax({
                        url:"{:url('/generate/Api/delete_field')}",
                        type:"POST",
                        data:{
                            'id': id
                        },
                        async:true,
                        success:function (res) {
                            if (res.status){
                                that.get_field_list();
                            }else{
                                alert(res.msg);
                            }
                        }
                    });
                }
            },
            alter_enum_del(id){
                Vue.delete(this.temp_enum_form,id);
            },
            alter_enum_add(event){
                event.preventDefault();
                const form_data = $('#alter_enum').serializeArray();
                const data = {};
                for(let i in form_data){
                    data[form_data[i]['name']]=form_data[i]['value'];
                }
                const res = {};
                res['key'] = data['enum_key'];
                res['name'] = data['enum_name'];
                const length = Object.keys(this.temp_enum_form).length;
                Vue.set(this.temp_enum_form,length,res);

                $('#alter_enum')[0].reset();
            },
            add_field_submit(){
                $('#add_field_submit_btn').click();
            },
            add_field(event){
                event.preventDefault();
                const that = this;
                const form_data = $('#addField').serializeArray();
                const data = {};
                for(let i in form_data){
                    data[form_data[i]['name']]=form_data[i]['value'];
                }
                data['table_id']=that.table_id;
                data['enum']=JSON.stringify(that.temp_enum_form);
                $.ajax({
                    url:"{:url('/generate/Api/alter_table_add')}",
                    type:"POST",
                    data:data,
                    async:true,
                    success:function (res) {
                        if (res.status){
                            that.temp_enum_form=[];
                            $('#addField')[0].reset();
                            $('#field').modal('hide');
                            that.get_field_list();
                        }else{
                            alert(res.msg);
                        }
                    }
                });

            },
            default_hidden(){
                if($('#auto_increment').prop("checked")){
                    Vue.set(this,'default_show',false);
                }else{
                    Vue.set(this,'default_show',true);
                }
            },
            set_enum(){
                const data = $('#enum').val();
                const enum_data = data.split(",");
                const res = [];
                for (const i in enum_data) {
                    res.push({'name':enum_data[i]})
                }
                Vue.set(this,'enum_data',res);
            },
            set_enum_id(id){
                Vue.set(this,'enum_modal_id',id);
                $('#enumModal').modal('show')
                console.log(this.enum_modal_id);
            }
        }
    })


</script>
{/block}